<header class="nav-bar">
    <nav class="nav-container" [ngClass]="{'active': isNavOpen}">
        <section class="nav-content">
            <section class="nav-logo">
                <figure class="nav-logo-img">
                    <img src="/assets/logo-img.svg">
                </figure>
                <h1>United UI</h1>
            </section>
            <ul class="nav-menu">
                <li><a href="#" class="nav-btn">Home</a></li>
                <li><a href="#" class="nav-btn">Products<i class="fa-solid fa-angle-down"></i></a></li>
                <li><a href="#" class="nav-btn">Resources<i class="fa-solid fa-angle-down"></i></a></li>
                <li><a href="#" class="nav-btn">Pricing</a></li>
            </ul>
        </section>
        <ul class="nav-side-menu">
            <section class="sidemenu-list">
                <a href="#" (click)="Login($event)" class="nav-side-btn">Log in</a>
                <a href="#" (click)="Signup($event)" class="nav-side-btn" id="purple">Sign up</a>
            </section>
            <figure class="sidemenu-img" id="hamburgerIcon">
                <button class="btn-icon" (click)="toggleNav()">
                    <i class="fa-solid" [ngClass]="{'fa-times': isNavOpen, 'fa-bars': !isNavOpen}"></i>
                </button>
            </figure>
        </ul>
    </nav>
</header> 